.product-image{
    max-width: 100%!important;
    max-height: 100%!important;
}

.img {
    max-width: 100%!important;
    max-height: 100%!important;
}

.price-box{
    width:80px!important;
}

.pagination{
    align-items: center
}

.pagination li{
    display: inline!important;
    padding-left: 15px!important;
}